<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet Kwamina</title>
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
    
  </head>
  <body>
    <div id="area">
      <div class="user-message">
        <img src="static\css\usernie.png" alt="User icon" class="avatar">
        <p class="message-content"></p>
        <p class="message-text">{{ message }}</p>
      </div>
      {% if success == 1 %}
      <div class="kwamina-message">
        <img src="static\css\kwaminaa.png" alt="Kwamina's icon" class="avatar">
        <p class="message-content"></p>
        <p class="message-text">{{ response }}</p>
      </div>
      {% endif %}
    </div>
    <footer>
      <form method="POST" class="chat-input">
        <textarea placeholder="Type your message here..." name="message" required></textarea>
        <button id="button" type="submit" value="Submit" class="send-button"><svg stroke="currentColor" fill="none" stroke-width="2" viewbox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></button>
      </form>
    </footer>
    <script src="templates\script\index.js"></script>
  </body>

</html>
