<!DOCTYPE html>
<html>
<head>

    <title>Meet Kwamina</title>
    <link href="static\css\intro.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <div class="container">
        <h1>Meet your CampusMate, Kwamina</h1>
        <form action="/submit_username" Method="POST">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit" value="Submit">Get Started</button>
        </form>
    </div>
    <div>
        <h1 id="name">CampusMate-Kwamina</h1>
</body>
</html>